<h2 id="bar">
  <nav>
    <div class="dropdown">

        <!-- trigger button -->
        <button type="submit">El & sånt</button>
        <!-- dropdown menu -->
        <ul class="dropdown-menu">
            <li><a href="#home">Varför då?</a></li>
            <li><a href="#about">Räkna med el</a></li>
            <li><a href="#contact">Stöten</a></li>
        </ul>
    </div>

    <div class="dropdown">

        <!-- trigger button -->
        <button>Meka</button>
        <!-- dropdown menu -->
        <ul class="dropdown-menu">
            <li><a href="#home">Home1</a></li>
            <li><a href="#about">About1</a></li>
            <li><a href="#contact">Contact1</a></li>
        </ul>
    </div>

    <div class="dropdown">

        <!-- trigger button -->
        <button>Bygga</button>
        <!-- dropdown menu -->
        <ul class="dropdown-menu">
            <li><a href="#home">Home2</a></li>
            <li><a href="#about">About2</a></li>
            <li><a href="#contact">Contact2</a></li>
        </ul>
    </div>

    <div class="dropdown">

        <!-- trigger button -->
        <button>Mat</button>
        <!-- dropdown menu -->
        <ul class="dropdown-menu">
            <li><a href="http://www.gp.se">Home3</a></li>
            <li><a href="www.vg.no">About3</a></li>
            <li><a href="www.bajs.tk">Contact3 eller alla andra gånger</a></li>
        </ul>
    </div>

    <div class="dropdown">

        <!-- trigger button -->
        <button>Programmera</button>
        <!-- dropdown menu -->
        <ul class="dropdown-menu">
            <li><a href="#home">Home4</a></li>
            <li><a href="#about">About4</a></li>
            <li><a href="#contact">Contact4</a></li>
        </ul>
    </div>

    <div class="dropdown">

        <!-- trigger button -->
        <button>Fakta</button>
        <!-- dropdown menu -->
        <ul class="dropdown-menu">
            <li><a href="#home">Home5</a></li>
            <li><a href="#about">About5</a></li>
            <li><a href="#contact">Contact5</a></li>
        </ul>
    </div>
  </nav>
</h2>
